<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.Name }}</h2>
        <p>{{ user.Email }}</p>
        <ion-badge [color]="getApprovalStatusColor(user.ApprovalStatus)">
          {{ getApprovalStatusLabel(user.ApprovalStatus) }}
        </ion-badge>
        <ion-badge [color]="getRoleColor(user.Role)">
          {{ getRoleLabel(user.Role) }}
        </ion-badge>
      </ion-label>
      <ion-button slot="end" (click)="changeApprovalStatus(user)">Cambiar Estado</ion-button>
      <ion-button slot="end" (click)="changeRole(user)">Cambiar Rol</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toast
  [isOpen]="showToast"
  [message]="toastMessage"
  [duration]="3000"
  position="top"
  [color]="toastColor">
</ion-toast>