:host {
  --color-background: #ebf5fb;
  --color-text: #1c2833;
  --color-light: #f7f9f9;
  --color-border: #E0D8D3;
  --color-button: #1c2833;
  --color-primary: #3498db;
  --color-success: #2ecc71;
  --color-warning: #f39c12;
  --color-danger: #e74c3c;
}

ion-content {
  --background: var(--color-background);
}

.main-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  color: var(--color-text);
  margin-bottom: 20px;
  font-weight: 600;
}

ion-card {
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.total-sales-card {
  background: linear-gradient(135deg, var(--color-primary), var(--color-success));

  ion-card-header {
    background: rgba(255, 255, 255, 0.1);
  }

  ion-card-title, .total-amount {
    color: white;
  }

  .total-amount {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

.top-products-card {
  ion-item {
    --background: transparent;
    --border-color: var(--color-border);
    --padding-start: 0;
    --inner-padding-end: 0;
  }

  ion-badge {
    font-size: 14px;
    padding: 4px 8px;
    background-color: var(--color-primary);
  }
}

.daily-sales-card {
  .chart-container {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.generate-report-btn {
  margin-top: 20px;
  --background: var(--color-button);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-list {
  background: transparent;

  ion-item {
    --background: transparent;
    --padding-start: 0;

    h2 {
      font-weight: bold;
    }

    p {
      color: var(--ion-color-medium);
    }
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 24px;
  }

  .section-title {
    font-size: 20px;
  }

  .total-amount {
    font-size: 28px;
  }

  .chart-container {
    position: relative;
    height: 50vh;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 22px;
  }

  .section-title {
    font-size: 18px;
  }


  .chart-container {
    position: relative;
    height: 50vh;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }

  .dashboard-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    ion-card-header {
      background-color: var(--ion-color-light);
    }
  
    ion-card-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    .big-number {
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--ion-color-primary);
      margin: 10px 0;
      text-align: center;
  
      &.danger {
        color: var(--ion-color-danger);
      }
    }
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
  ion-fab-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
  }
  
}