<ion-content class="ion-padding">
  <div class="register-container">
    <h1>Únete a nosotros</h1>
    <h2>Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched">
        El nombre es requerido
      </ion-text>
      <ion-text color="danger" *ngIf="registerForm.get('name')?.hasError('minlength') && registerForm.get('name')?.touched">
        El nombre debe tener al menos 3 caracteres
      </ion-text>

      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
        El correo electrónico es requerido
      </ion-text>
      <ion-text color="danger" *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
        Por favor, ingrese un correo electrónico válido
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
        La contraseña es requerida
      </ion-text>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
        La contraseña debe tener al menos 6 caracteres
      </ion-text>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.hasError('invalidPassword') && registerForm.get('password')?.touched">
        La contraseña debe contener al menos una letra mayúscula, una minúscula, un número y un carácter especial
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
        Las contraseñas no coinciden
      </ion-text>

      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">
        Registrarse
      </ion-button>
    </form>
    <a [routerLink]="['/login']" class="login-link">¿Ya tienes una cuenta? Inicia sesión</a>
  </div>
</ion-content>

<ion-toast
  [isOpen]="showToast"
  [message]="toastMessage"
  [duration]="3000"
  position="top"
  color="primary">
</ion-toast>