<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Comandas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let orden of ordenes" class="orden-card">
    <ion-card-header>
      <ion-card-title>Orden #{{ orden.id }} - Mesa {{ orden.tableNumber }}</ion-card-title>
      <ion-card-subtitle>
        <ion-badge [color]="orden.status=== 'Solicitado' ? 'warning' : 
                            orden.status=== 'En proceso' ? 'primary' : 
                            orden.status=== 'Listo' ? 'success' : 'danger'">
          {{ orden.status}}
        </ion-badge>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="items-list">
        <p *ngFor="let item of orden.items">
          {{ item.name }} x{{ item.quantity }}
          <span *ngIf="item.milkType || item.size" class="item-details">
            ({{ item.size || 'Tamano estandar' }}
            <ng-container *ngIf="item.milkType">, leche {{ item.milkType }}</ng-container>)
          </span>
        </p>
      </div>
      <p class="totalAmount">totalAmount: {{ orden.totalAmount | currency:'CLP':'symbol-narrow':'1.0-0' }}</p>
      <p *ngIf="orden.notes" class="notes">
        <ion-icon name="create-outline"></ion-icon>
        notes: {{ orden.notes }}
      </p>
    </ion-card-content>

    <div class="action-buttons">
      <ion-button [disabled]="orden.status !== 'Solicitado'" (click)="cambiarEstado(orden, 'En proceso')" color="primary">
        En Proceso
      </ion-button>
      <ion-button [disabled]="orden.status !== 'En proceso'" (click)="cambiarEstado(orden, 'Listo')" color="success">
        Lista
      </ion-button>
      <ion-button [disabled]="orden.status === 'Cancelado'" (click)="cambiarEstado(orden, 'Cancelado')" color="danger">
        Cancelar
      </ion-button>
    </div>
  </ion-card>
</ion-content>
<ion-toast
  [isOpen]="showToast"
  [message]="toastMessage"
  [duration]="3000"
  position="top"
  color="success"
></ion-toast>